.center, .center-column, .top, .right, .bottom, .left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.single-spaced, .single-spaced * {
    line-height: 1;
}

@media (max-width: 1024px) {
	.desktop {
		display: none;
	}
}

#align {

	text-align: center;
	font-size: 20px;
	color: aquamarine;
}

#reg {

	color: rgb(9, 85, 121);

	
	
}


.form {

	color: rgb(49, 179, 82);

}

#submit {

	
	color: blue;
}

.about {

	color: rgb(216, 102, 27);
}

#passage {

	font-size: 2rem;
}

.ab {

	font-size: 3rem;
}